
.heading {
    width: 100%;
    height: 60px;
    text-align: center;
}

.search_result {
    margin-top: 20px;
}

input {
    margin-bottom: 20px;
}

tr:nth-child(2n) {
    background-color: #fff0f4;
}

tr:nth-child(2n+1) {
    background-color: #ffe7e7;
}



/* 手機版面設定 */

@media (max-width: 768px) {
    thead {
        display: none;
    }

    tr {
        display: block;
        border: 1px solid #ddd;
        margin-top: 5px;
    }

    td {
        overflow: hidden;
        display: block;
    }

    td:before {
        content: attr(data-th) " : ";
        display: inline-block;
        font-weight: bold;
	    border: 10px;
        color: #D20B2A;
        margin-right: 10px;
    }
}